NODE_ENV=development

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=quiz
DB_PASSWORD=quiz_secret
DB_NAME=quiz_db

# App
PORT=3000

# Game Config
ROUND_REVEAL_DELAY_MS=5000
MAX_PLAYERS_DEFAULT=5
